/* global style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: soursSansPro;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 80%;
  margin: auto;
}

@font-face {
  font-family: "soursSansPro";
  src: url(/fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "soursSansProLight";
  src: url(/fonts/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: "soursSansProBold";
  src: url(/fonts/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: "spinCycle";
  src: url(/fonts/spincycle_ot.otf);
}
/* global style */

/* header style */
header {
  background-image: url(/images/Object.png);
  background-size: cover;
}
header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 53px;

  text-transform: capitalize;
}

h1 {
  font-size: 120px;
  color: white;
  font-weight: bold;
  margin-top: 60px;
}

header ul {
  display: flex;
  gap: 50px;
  color: white;
}

header button,
.member-ship button {
  background-color: #c271ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 25px;
  margin-top: 32px;
  font-weight: lighter;
  cursor: pointer;
  font-size: 14px;
}

.teachers {
  margin: 150px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.teachers h2 span,
.toturials h2 span,
.member-ship h2 span {
  color: #c271ff;
  font-family: soursSansProBold;
}
.teachers h2,
.toturials h2,
.member-ship h2 {
  font-weight: 100;
  color: white;
  font-family: soursSansProLight;
  margin-bottom: 30px;
  font-size: 32px;
}
.teachers ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.teachers ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.teachers ul li h3 {
  font-size: 18px;
}
.teachers ul li span {
  font-size: 16px;
  font-family: soursSansProLight;
}
.teachers ul li:nth-child(3) img {
  border-radius: 75px;
}
/* header style */

/* qoute sectione */
.qoute-sect {
  height: 400px;
  background-color: #c271ff;
}

.qoute-sect article {
  padding-top: 125px;
  display: flex;
  gap: 50px;
  justify-content: center;
}
.qoute-sect article .qoute {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
  color: white;
  font-size: 22px;
}

.qoute-sect article .qoute h4 {
  margin-top: 15px;
}
/* qoute sectione */

/* toturials sectione */
.toturials {
  height: 700px;
}

.toturials .container {
  display: flex;
}
/* toturials sectione */
.toturials {
  text-align: center;
}
.toturials .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.toturials h2 {
  color: black;
  margin: 100px 0px;
}
.toturials article {
  width: 243px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  position: relative;
}
.toturials article p {
  color: #07162980;
  font-size: 12px;
  line-height: 1.7;
}

.toturials .auther img {
  width: 40px;
}
.toturials .play {
  position: absolute;
  top: 45px;
  left: 100px;
  cursor: pointer;
  opacity: 0.5;
}

.toturials .auther {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.toturials .auther span {
  color: #c271ff;
}
.toturials .det img {
  margin-right: 85px;
}
.toturials .det span {
  color: #c271ff;
}
/* toturials sectione */

/* member-ship */
.member-ship {
  background-color: #071629;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  padding: 50px 0px;
}

.member-ship .container {
  display: flex;
  margin: 50px 0px;
  color: white;
  justify-content: center;
}
.member-ship article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 235px;
}
.member-ship article h5 {
  font-size: 18px;
}
.member-ship article span {
  font-size: 14px;
}
.member-ship article img {
  width: 45px;
}
/* member-ship */

/* FAQ section */
.FAQ {
  text-align: center;
  padding-bottom: 100px;
}
.FAQ h2 {
  font-size: 60px;
  font-weight: 100;
  font-family: soursSansProLight;
}
.FAQ .container {
  margin-top: 60px;
  display: flex;
  gap: 65px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.FAQ article {
  width: 365px;
  text-align: start;
}
.FAQ article h4{
  margin-bottom: 30px;
  font-size: 16px;
}
/* FAQ section */

/* foter section */
footer{
  height: 250px;
  background-color: #071629;
  text-align: center;

}

footer article{
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}
footer article ul{
  display: flex;
  gap: 20px;
}

footer article ul i {
  font-size: 25px;
}
footer article ul li:nth-child(2){
  color: white;
}
footer p {
  margin-top: 70px;
  color: white;
}
/* foter section */
